<script src="{{theme_url()}}/layouts/default/js/jquery.js"></script>
<script src="{{theme_url()}}/layouts/default/js/jquery.easing.1.3.js"></script>
<script src="{{theme_url()}}/layouts/default/js/bootstrap.min.js"></script>
<script src="{{theme_url()}}/layouts/default/js/jquery.fancybox.pack.js"></script>
<script src="{{theme_url()}}/layouts/default/js/jquery.fancybox-media.js"></script>
<script src="{{theme_url()}}/layouts/default{{theme_url()}}/layouts/default/js/google-code-prettify/prettify.js"></script>
<script src="{{theme_url()}}/layouts/default/js/portfolio/jquery.quicksand.js"></script>
<script src="{{theme_url()}}/layouts/default/js/portfolio/setting.js"></script>
<script src="{{theme_url()}}/layouts/default/js/jquery.flexslider.js"></script>
<script src="{{theme_url()}}/layouts/default/js/animate.js"></script>
<script src="{{theme_url()}}/layouts/default/js/custom.js"></script>
{{ $footeritems }}