<link href="{{theme_url()}}/layouts/default/css/bootstrap.min.css" rel="stylesheet" />
<link href="{{theme_url()}}/layouts/default/css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="{{theme_url()}}/layouts/default/css/flexslider.css" rel="stylesheet" />
<link href="{{theme_url()}}/layouts/default/css/style.css" rel="stylesheet" />
<link href="{{theme_url()}}/layouts/default/skins/default.css" rel="stylesheet" />
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{{ $headeritems }}