<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{show_breadcrumb('ul')}}
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {{$grids['body']['page']}}
            </div>
            <div class="col-lg-4">
                <aside class="right-sidebar">
                    {{$grids['body']['sidebar']}}
                </aside>
            </div>
        </div>
    </div>
</section>