<ul id="thumbs" class="portfolio">
    @foreach($item['data'] as $k=>$slide)
    <li class="col-lg-3 design" data-id="id-{{$k}}" data-type="web">
        <div class="item-thumbs">
            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{$slide['title']}}"
               href="{{$slide['img']->url()}}">
                <span class="overlay-img"></span>
                <span class="overlay-img-thumb font-icon-plus"></span>
            </a>
            <!-- Thumb Image and Description -->
            <img src="{{$slide['img']->url(300)}}"
                 alt="{{$slide['content']}}">
        </div>
    </li>
    @endforeach

</ul>