<ul class="social-network">
    <li><a data-placement="top" href="{{get_theme_config('facebook_url')}}" title="Facebook"><i class="fa fa-facebook"></i></a></li>
    <li><a data-placement="top" href="{{get_theme_config('twitter_url')}}" title="Twitter"><i class="fa fa-twitter"></i></a></li>
    <li><a data-placement="top" href="{{get_theme_config('linkedin_url')}}" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
    <li><a data-placement="top" href="{{get_theme_config('pinterest_url')}}" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
    <li><a data-placement="top" href="{{get_theme_config('gplus_url')}}" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
</ul>